<div class="bg-dark">

  <div class="button-portal col-lg-6 col-md-6 col-sm-6">
    <button [ngClass]="{ active: oTutoriales == true }" class="btn btn-dark nav-button-4" (click)="mostrarTutoriales()">
      <a class="nav-link " href="#">_tutoriales</a>
    </button>
  </div>

  <div class="button-portal col-lg-6 col-md-6 col-sm-6">
    <button [ngClass]="{ active: oPreguntas == true }" class="btn btn-dark nav-button-4 " (click)="mostrarPreguntas()">
      <a class="nav-link" href="#">_preguntas</a>
    </button>
  </div>

</div>

<div [hidden]="oTutoriales == false">
  <app-tutoriales></app-tutoriales>
</div>
<div [hidden]="oPreguntas == false">
  <app-preguntas></app-preguntas>
</div>

<div class="empty-img" *ngIf="empty">
  <app-empty></app-empty>
</div>
