
<div *ngFor="let pregunta of preguntaService.preguntas">
  <div class="card bg-dark text-white mb-2 mt-2">
    <div class="card-header">
      {{ pregunta.pregunta }}
    </div>
    <div class="card-body">
      <h5 class="card-title">pregunta</h5>
      <p class="card-text">
        Categoría:
        {{ pregunta.categoria }}
      </p>
      <p>
        {{ pregunta.desarrollo }}
      </p>
      <p>
        {{ pregunta.likes }}
      </p>
      <a (click)="verPregunta(pregunta._id)" class="btn btn-info">Responder</a>
      <button (click)="darLike(pregunta)" class="btn btn-danger">like</button>
      {{ pregunta.creador }}
    </div>
  </div>
</div>
