<div class="md-lg">
  <nav class="navbar-dark bg-dark d-flex justify-content-around">
    <div class="cursor-hand" (click)="gotoHome()">
      <a class="nav-link navbar-brand ml-4 mt-3">code(_c)ave</a>
    </div>

    <div class="logged-buttons justify-content-center d-flex">
      <button
        class="btn btn-info mt-3 mb-3 "
        *ngIf="!isLogged"
        (click)="ingresar()"
      >
        Ingresar
      </button>
      <button
        class="btn btn-info btn-sm justify-content-between d-flex mt-3 mb-3 mr-3"
        *ngIf="isLogged"
        (click)="gotoProfile()"
      >
        Mi perfil
      </button>
      <button
        class="btn btn-danger btn-sm justify-content-between d-flex mt-3 mb-3"
        *ngIf="isLogged"
        (click)="logout()"
      >
        Salir
      </button>
    </div>
  </nav>
</div>

<div class="sm">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4 ">
        <div class="logged-buttons justify-content-center d-flex">
          <button
            class="btn btn-info mt-3 mb-3 "
            *ngIf="!isLogged"
            (click)="ingresar()"
          >
            Ingresar
          </button>
          <button
            class="btn btn-info btn-sm justify-content-between d-flex mt-3 mb-3 mr-3"
            *ngIf="isLogged"
            (click)="gotoProfile()"
          >
            Mi perfil
          </button>
          <button
            class="btn btn-danger btn-sm justify-content-between d-flex mt-3 mb-3"
            *ngIf="isLogged"
            (click)="logout()"
          >
            Salir
          </button>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark justify-content-between d-flex">
      <a class="nav-link navbar-brand">code(_c)ave</a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>
