<div class="card bg-dark text-white mb-2 mt-2">
  <div class="card-header">
    {{ pregunta.pregunta }}
    {{ pregunta._id }}
  </div>
  <div class="card-body">
    <p class="card-text">
      Lenguaje:
      {{ pregunta.categoria }}
    </p>
    <p>
      {{ pregunta.desarrollo }}
    </p>
    <button [hidden]="!liked" (click)="like(pregunta)" class="btn btn-danger">
      <i class="fa fa-heart"></i> {{ likes }}
    </button>
    <button
      [hidden]="liked"
      (click)="like(pregunta)"
      class="btn btn-light nolike"
    >
      <i class="fa fa-heart"></i> {{ likes }}
    </button>
  </div>
</div>
