<div *ngIf="cargando" class="loading justify-content-center d-flex">
  <div class="loading-spinner">
    <div class="loading-c">
      <div></div>
    </div>
  </div>
</div>

<div [hidden]="cargando">
  <div class="container">
    <div class="row mt-4 justify-content-center d-flex">
      <div class="profile-section profile col-sm-6 col-md-6 col-lg-3 center-content">
        <img src="{{ user.photoUrl }}" class="rounded-circle img-thumbnail img-profile" alt="profile" />
        <b>
          <h3>{{ user.username }}</h3>
        </b>
        <p>{{ user.email }}</p>
      </div>

      <div class="profile-section details col-sm-6 col-md-6 col-lg-4 justify-content-center d-flex">
        <div class="center-content">

          <div class="bio">
            <p>{{ user.bio }}</p>
          </div>
          <div class="git"></div>
        </div>
      </div>
      <div class="profile-section medals col-sm-12 col-md-12 col-lg-5 justify-content-center d-flex">
        <a data-target=" #medalModal" data-toggle="modal" class="MainNavText" id="MainNavHelp" href="#medalModal">
          <div *ngFor="let medalla of medals" class="justify-content-start">
            <img src="../../../../assets/images/medals/{{ medalla }}.png" class="medal mr-2" />
          </div>
        </a>
      </div>
    </div>
  </div>


  <!-- modal  -->
  <div class="container col-md-12">
    <div class="row mt-4 justify-content-center d-flex">
      <div class="modal fade" id="medalModal" tabindex="-1" role="dialog" aria-labelledby="medalModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="card w-100 medalModal">
            <div class="card-body">
              <h5 class="card-title">Medallas</h5>
              <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Medalla</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descripción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let medal of getMedals()">
                    <th scope="row">
                      <img src="../../../../assets/images/medals/{{
                              medal.medalid
                            }}.png" />
                    </th>
                    <td>
                      <p class="mt-1">{{ medal.medalname }}</p>
                    </td>
                    <td>
                      <p class="mt-1">{{ medal.medaldesc }}</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="#" class="btn btn-info">Cerrar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
