<section id="profile" class="container">
  <div class="row mt-5">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-12 profile-header"></div>
    </div>
    <div class="user-details justify-content-flex-start">
      <div class="image-profile col-sm-12 col-md-5 col-lg-4">
        <img
          src="{{ user.photoUrl }}"
          class="rounded-circle img-thumbnail"
          alt="profile"
        />
      </div>
      <div class="details image-profile col-sm-12 col-md-5 col-lg-4">
        <b
          ><h3>{{ user.username }}</h3></b
        >
        <p>{{ user.email }}</p>
      </div>
    </div>
  </div>
</section>
