@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

body {
  background-color: #222831;
}


h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
a,
p,
label,
input,
button

 {
  color: white;
  font-family: 'Ubuntu';
}


.div {
  display: flex;
}

.nav-button-4 {
  width: 100%;
}

#section {
  display: block;
}

.card-a {
  cursor: pointer;
}
