.profile-section {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}

.details {
  margin-left: auto;
}

.medals {
  margin: auto;
  margin-left: auto;
}

.medal {
  float: left;
}

.img-profile {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
}

.medalModal {
  background-color: #393e46;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 700px) {
  .medalModal {
    margin-top: 20%;
  }
}

.tabla {
  width: 100%;
  display: block;
}

.bio {
  word-wrap: break-word;
}
