<div class="md-lg">
  <nav class="navbar-dark bg-dark d-flex justify-content-around">
    <a class="nav-link navbar-brand ml-4 mt-3 " href="#">code(_c)ave</a>
    <form class="form-inline mt-3 mb-3">
      <input
        class="form-control mr-sm-2 bg-dark"
        type="search"
        placeholder="Que necesitas?"
        aria-label="Search"
      />
      <button class="btn btn-info" type="submit">Buscar</button>
    </form>
    <button
      class="btn btn-info mt-3 mb-3 "
      *ngIf="!isLogged"
      (click)="ingresar()"
    >
      Ingresar
    </button>
    <button
      class="btn btn-info btn-sm justify-content-between d-flex mt-3 mb-3"
      *ngIf="isLogged"
      (click)="logout()"
    >
      Salir
    </button>
  </nav>
</div>

<div class="sm">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4 ">
        <form class="form-inline search d-flex justify-content-center">
          <div>
            <input
              class="form-control bg-dark"
              type="search"
              placeholder="Que necesitas?"
              aria-label="Search"
            />
            <button class="form-control btn btn-info" type="submit">
              Buscar
            </button>
          </div>
        </form>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark justify-content-between d-flex">
      <a class="nav-link navbar-brand">code(_c)ave</a>

      <button class="btn btn-info " *ngIf="!isLogged" (click)="loginGoogle()">
        Ingresar
      </button>
      <button
        type="button"
        class="btn btn-info "
        *ngIf="isLogged"
        (click)="logout()"
      >
        Salir
      </button>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>
